<div style="height: 5vmin"></div>

<br><br>
<div class="container">
  <div class="row">
    <div class="col-xs-offset-1 col-xs-10 well well-lg" style="background-color: #f2f2f2">
      <h1 style="font-size: 5vmin;text-align: center;padding-bottom: 8vmin">Admin-Login</h1>
      <%= form_for(:session, :html => {class:"form-horizontal",role:"form"},url: login_path)  do |b| %>
        <div class="form-horizontal">


          <div class="form-group">

            <div class="col-sm-12">
              <%= b.text_field :username, class:"form-control", placeholder:"Username", autofocus: true %>
            </div>
          </div>


          <div class="form-group">

            <div class="col-sm-12">
              <%= b.password_field :password, class:"form-control" , placeholder:"Password", autocomplete:"off" %>
            </div>
          </div>

          <div class="form-group" style="margin-top: 8vmin">
            <div class="col-sm-12">
              <%= b.submit "Login" ,class:"btn btn-success btn-block"%>
            </div>
          </div>
        </div>
      <%end %>
    </div>
  </div>
</div>