<hr>
<div class="" id="find">
  <div class="row" style="padding-bottom: 8vmin">
    <div class="col-md-12">

      <div class="">
        <div class="jumbotron shadow" style=" border-radius: 1vmin">
          <div class="row">
            <div class="col-md-offset-2 col-md-8 col-md-offset-2 ">
              <h1 style="text-align: center;padding-bottom: 0.5em">Find Us!</h1>
              <div class="col-xs-3 " style="margin-top: 2em">
                <address>
                <p style="font-size: 2.5vmin;line-height: 1.6"><b>Sshafin Hospital</b><br>
                72/65 Shipra Path,<br>
                Mansarover,<br>
                Jaipur 302020</p>
              </address>
              </div>
              <div class="col-xs-offset-1 col-xs-1  vl"></div>
              <div class="col-xs-6" style="margin-top: 2em;position: relative">
                <%= link_to ('https://www.google.com/maps/place/Shhafin+Hospital/@24.4153075,76.5607649,15z/data=!4m5!3m4!1s0x0:0x1abbba2f410ab857!8m2!3d24.4153075!4d76.5607649'),target:"_blank" do %>
                  <%=image_tag "map.png" , class: "img-rounded img-responsive",style: "border: 1px solid grey;"%>
                  <small style="line-height: 1.6">Click On Map To Open it on Google Maps<small>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>


</div>
