<div class="footer">
  <div class="container">
    <ul style="margin-top: 2vmin">
      <li><a href=#home><p class="link">Home</p></a></li>
      <li><a href=#department><p class="link">Departments</p></a></li>
      <li><a href=#ourteam><p class="link">Our Team</p></a></li>
      <li><a href="/messages/new"><p class="link">Contact Us!</p></a></li>
      <li><a href=#find><p class="link">Find Us</p></a></li>
      <li><a href="/login"><p class="link">Admin</p></a></li>
    </ul>
  </div>
</div>