<hr>


<div class="" id="message" style="margin-top: 15vmin">
  <div class="jumbotron shadow" style=" border-radius: 1vmin">


        <%= flash[:x]%>

    <div class="row">
      <div class="col-xs-offset-2 col-xs-8">
        <h1 style="text-align: center;padding-bottom: 5vmin">Contact us!</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-offset-2 col-xs-8">
        <p style="font-size: 2.5vmin;padding-bottom: 3vmin;line-height: 1.6">Meet us at trade fairs - world­wide
          KAEFER is de­lighted to par­ti­cip­ate in the trade fairs men­tioned be­low. We are look­ing for­ward to build­ing up and in­tensi­fy­ing out net­work with you , in or­der to dis­cuss and demon­strate our ex­pert­ise in our fields of busi­ness, as well as in­tensi­fy­ing ex­ist­ing and de­vel­op­ing new busi­ness op­por­tun­it­ies.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-offset-2 col-xs-3">
        <input type="button"  onClick="$('#myModal').modal()" value="Send Message" class="btn btn-lg btn-primary">
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <%= render :template => "messages/new",message: @message %>
</div>

