

<nav class="navbar navbar-default navbar-fixed-top" >
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header" style="margin-left: 5em">
  <div class="row">

    <%= link_to root_path do %>
      <%= image_tag 'logo.png', width: 180, height: 50, alt: 'Sshafin Hospital'%>
    <% end %>


    <input type="button" value="=" onClick="$('#bs')"  class="navbar-toggle icon-bar collapsed" data-toggle="collapse" data-target="#bs" aria-expanded="true">

  </div>
</div>

<div class="collapse navbar-collapse" id="bs">
  <ul class="nav navbar-nav navbar-right" style="margin-right: 10em">
    <li><a href=#home><p class="link">Home</p></a></li>
    <li><a href=#department><p class="link">Departments</p></a></li>
    <li><a href=#ourteam><p class="link">Our Team</p></a></li>
    <li><a href="#message"><p class="link">Contact Us!</p></a></li>
    <li><a href=#find><p class="link">Find Us</p></a></li>
  </ul>
</div>
</div>
</nav>
