<%= render 'pages/navbar' %>

<div class="jumbotron" id="home">
  <div class="container">
    <div class="row">
      <div class="col-lg-offset-2 col-lg-6 ">
        <h1>Welcome!</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu felis placerat,
          dapibus neque ultricies, congue odio. Ut laoreet, lectus sed semper auctor,
          lectus lorem finibus lectus, sed maximus felis augue eu ligula. Suspendisse
          sit amet nibh eget lectus imperdiet semper in at dolor. Nulla laoreet eu lorem
          eget bibendum. Nulla ac elit libero. Mauris odio dui, pellentesque nec aliquam vitae,
          commodo at elit. Pellentesque gravida tristique eros, ut tincidunt erat finibus eu.</p>
      </div>
    </div>
  </div>
</div>