// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-default{
  background-color: #fff;
}

.jumbotron-main{
  background-color: #9BBFDF;
  background-image: asset-url('jtron.jpg');
  height: 30em;
}

p.link{
color: #9BBFDF;
}

p.link:hover{
  color: #666666;
}

.img-circle {
  border: 0.2vw solid #666666;
}



.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

p.well{
  font-max-size: 50px;
  font-min-size: 30px;
}

.footer{
  height: 30vmin;
  background-color: #222222;
  margin-top: 5em;
}

.shadow{
  box-shadow: 5px 5px 20px #999999;

}

.resize{
  height: 100px;
  width: 100px;
}

.well-sm{
  font-size: smaller;

}

.red{
  background-color: #e17470;
}

.green{
  background-color: #70e090;
}

.yellow{
  background-color: #e0dd70;
}

.skyblue{
  background-color: #70e0e0;
}

.blue{
  background-color: #7078e0;
}

.orange{
  background-color: #ff8955;
}

.vl {
  border-left: 1px solid grey;
  height: 300px;
}

.movie-title{
  font-weight: bold;
  font-size: 1.5em;
}

.movie-body{
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}